nav {
    background-image: linear-gradient(black, white);
    color: white;
    word-spacing: 15px;   
    text-align: bottom;
    }


a {
    text-decoration: none;
    color: white;
    height: 1.25rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5625rem;
}

/*color y fondo del nav*/
body {
    color: #2c2b2c;
    background-color: white;
    font-family: 'Tangerine', cursive;
    font-size: 3rem;

}

ul {
    list-style: none;
}

li {
    display: inline
}
/* transiciones */
.fa:hover {
    opacity: 0.7;
}

li a:hover {
    background-color: #111;
    color: white;
}
/* fin transiciones */

/* navegador */
.container {
    position: relative;
    text-align: right;
    color: white;
    font-size: 4rem;
    font-weight: 800;
}

/* Centered text */
.texto {
    position: absolute;
    top: 15%;
    right: 1%;

}

.awards {
    position: inherit;
    size: 100%;
}

/* pagina de inicio, imagen y texto adentro */
.container-fluid {
    background-color: black;
}

p {
    color: black;
    font-size: 2rem;
}

h2 {
    font-size: 25%;
}
/* inicio sobre nosotros */
.card-title {
    font-size: 70%;
    font-weight: 700;
    text-align: center;
}

.card-text {
    font-size: 40%;
    text-align: center;
}

.text {
    color: black;
    font-size: 2rem;
    justify-content:center;
    margin-left: 20px;
}
/* fin sobre nosotros */
/* inicio pasantias */
fieldset {
    color: black;
    background-color: wheat;
    size: auto;
    border: black;
    margin-left: 20px;
    size: 50%;

}

form {

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    border: black;
    border-width: 3px;
    background-color: wheat;
    padding: 2px;
    border-style: solid;
    position: center;
    align-items: center;
}
/* fin pasantias */
/* inicio pie de pagina sitio */
footer{
    text-align: center;
    word-spacing: 30px;
    background-image: black;
}
/* fin pie de pagina sitio */
.input{
    width: 50%;
}
