.row{
  padding-left: 5%;
}
.card-title{
  font-size: 70px;
  text-align: center;
  font-family: $fsecundaria;
}
.card-text{
  font-size: 19px;
  font-family: $fsecundaria;
  text-align: center;
  
}
.mapa{
  size: 100%;
}
