 .row{
  margin-left: 5%;
}
.card-title{
  font-size: 70px;
  text-align: center;
  font-family: $fsecundaria;
}
.card-text{
   margin-top: 10%;
  font-size: 27px;
  font-family: $fsecundaria;
  text-align: center;
  
}
.mapa {
  width: 95%;
  height: 400px;
  margin-left: 0;
}
