/* inicio pasantias */
fieldset {
    color: $colorPrincipal;
    background-color: gray;
    size: auto;
    border: $colorPrincipal;
    margin-left: 20px;
    size: 50%;

}

form {
    margin-left: 5%;
    margin-right: 20%;
    font-family: $fsecundaria;
    font-size: 30px;
    border: $colorPrincipal;
    border-width: 3px;
    background-color: gray;
    padding: 2px;
    border-style: solid;
    position: center;
    align-items: center;
}
/* seo y sass, no va */
  /* hasta aca no va, desafio. */
footer {
    @include foot }

/* fin pasantias */