/* inicio pasantias */
fieldset {
    color: $colorPrincipal;
    background-color: $colorSecundario;
    border: $colorPrincipal;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    margin-left: 5%;
    margin-right: 40%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    border: $colorPrincipal;
    border-width: 30 px;
    background-color: gray;
    padding: 2px;
    border-style: solid;
    position: center;
    align-items: center;
    size: 20%;
}

.input {
    size: 20%;
}

.mb3 {
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    @include foot
}

/* fin pasantias */