/* inicio sobre nosotros */
.card-title1 {
    font-size: 70%;
    font-weight: 700;
    text-align: center;
}

.card-text1 {
    font-size: 40%;
    text-align: center;
}

.text {
    color: $colorPrincipal;
    font-size: 2rem;
    justify-content: left;
    margin-left: 20px;
}

.input {
    width: 50%;
}

main {
    margin-top: 5%;
}



/* fin sobre nosotros */