@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');
$fprincipal:"Tangerine, cursive";
$fsecundaria:"Georgia, 'Times New Roman', Times, serif";
$colorPrincipal: black;
$colorSecundario: white;
/* desafio seo y sass, no va */
$map: (background-color: white,
    hover-primario: lighten (gray, 30));
/* generales */
%navegador {
    background-image: linear-gradient(black, white);
    color: white;
    word-spacing: 15px;
    text-align: bottom;
}
/* generales */
/* pasantias */
@mixin foot {
   text-align: center;
   word-spacing: 50px;
   background-image: black


  }
/* pasantias */
