@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');
$fprincipal:"Tangerine, cursive";
$fsecundaria:"Georgia, 'Times New Roman', Times, serif";
$colorPrincipal: black;
$colorSecundario: white;
